@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

:root {
  --color-primary: #FF725E;
  --color-primary-hover: #FA5841;
  --color-font: #3A3A3A;
  --color-label: #696766;
  --color-background: #FEF0F0;
}

* {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.tittle-ligth {
  font-weight: 300;
  color: var(--color-font);
}

.tittle-regular {
  font-weight: 400;
  color: var(--color-font);
}

.tittle-medium {
  font-weight: 500;
  color: var(--color-font);
}

.tittle-semibold {
  font-weight: 600;
  color: var(--color-font);
}

.tittle-bold {
  font-weight: 700;
  color: var(--color-font);
}

.container-form {
  border-top: 1px solid #B4b4b4;
  padding: 15px 0;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary-hover);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover);
}