<div class="background-fondo">
  <div class="row d-flex container-fondo">
    <div class="col-md-8 d-md-block d-none container-fondo">
      <img
        class="mx-auto my-5"
        src="../../../assets/img/fondo.png"
        alt="Fondo"
      />
    </div>
    <div class="col-sm-12 col-md-4 container-login">
      <div class="row d-flex flex-columns aling-content-around">
        <div class="col-12 text-center mb-3">
          <img src="../../../assets/img/logo.png" height="80" alt="Logo" />
        </div>
        <div class="col-12 mt-5">
          <h2 class="text-center tittle-login mb-3">Inicio de Sesión</h2>
          <div class="formulario-login">
            <form action="" class="">
              <div class="did-floating-label-content mb-4">
                <i class="fa fa-user input-icon"></i>
                <input
                  id="usuario"
                  class="did-floating-input"
                  type="text"
                  placeholder=" "
                />
                <label for="usuario" class="did-floating-label">Usuario</label>
              </div>
              <div class="did-floating-label-content mb-3">
                <i class="fa fa-lock input-icon"></i>
                <input
                  id="contraseña"
                  class="did-floating-input"
                  type="password"
                  placeholder=" "
                />
                <label for="contraseña" class="did-floating-label"
                  >Contraseña</label
                >
              </div>
              <button class="button-large button-primary mb-3" type="submit">
                Ingresar
              </button>
              <div class="d-flex flex-rows">
                <input
                  type="checkbox"
                  name="recordar"
                  id="recordar"
                  class="switch-input"
                />
                <label for="recordar" class="switch"></label>
                <span class="text-switch">Recordar mi usuario</span>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="col-12">
          <span class="text-primary">
            by Alexis Angulo
          </span>
        </div> -->
      </div>
    </div>
  </div>
</div>
