<h1 class="tittle-medium">Clientes</h1>
<div class="container-form">
  <div class="d-flex flex-column">
    <div class="col-12 text-end">
      <a class="btn btn-primary" [routerLink]="['new']">
        <i class="fa fa-plus"></i> Nuevo
      </a>
    </div>
    <div class="col-12 mt-2">
      <table class="table table-striped table-hover">
        <thead class="table-light text-center">
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Día de Cumpleaños</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let customer of customers | paginate: { id: 'table_customers', itemsPerPage: 10, currentPage: pageNumber, totalItems: pageTotal }">
            <td>{{ customer.name }} {{ customer.surname }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.dateBirth | formatString }}</td>
            <td>
              <div class="row">
                <div class="col text-end">
                  <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                    <i class="text-success fa fa-pen"></i>
                  </a>
                </div>
                <div class="col text-start">
                  <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="text-danger fa fa-trash"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-end">
        <pagination-controls id="table_customers" class="my-pagination"
          (pageChange)="changePage($event)"
          previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>