<div class="mt-5">
  <div class="animate__animated animate__fadeInRight">
    <h1 class="tittle-medium">Clientes</h1>
    <div class="container-form">
      <div class="d-flex flex-column">
        <div class="col-12 text-end">
          <button pButton pRipple label="Agregar cliente" icon="pi pi-plus" class="p-button-sm mr-2" routerLink="/customers/new"></button>
        </div>
        <div class="col-12 mt-2 animate__animated animate__fadeInUp" *ngIf="loading">
          <app-progressbar-table caption="Estamos consultando a los clientes registrados"></app-progressbar-table>
        </div>
        <div class="col-12 mt-2 animate__animated animate__fadeInUp" *ngIf="customers">
          <table class="table table-default">
            <thead>
              <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Día de Cumpleaños</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let customer of customers; let i = index">
                <td class="text-center">
                  <button class="link-detail" pTooltip="Ver detalle" tooltipPosition="bottom" (click)="showModalDetail(customer)">
                    {{ customer.name }} {{ customer.surname }}
                  </button>
                </td>
                <td class="text-center">{{ customer.phone }}</td>
                <td class="text-center">{{ customer.dateBirth | formatString }}</td>
                <td class="text-center">
                  <span class="p-buttonset">
                    <button pButton type="button" icon="pi pi-pencil" class="button-icon p-button-sm p-button-text p-button-success" pTooltip="Modificar" tooltipPosition="left" routerLink="/customers/edit/{{customer.customerId}}"></button>
                    <button pButton type="button" icon="pi pi-trash" class="button-icon p-button-sm p-button-text p-button-danger" pTooltip="Eliminar" tooltipPosition="right" (click)="showModalDelete(customer)"></button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <p-paginator *ngIf="customers" [rows]="10" [totalRecords]="pageTotal" (onPageChange)="changePage($event)"></p-paginator>
          <app-empty *ngIf="!customers && !loading" caption="Lo sentimos, no se encontraron clientes registrados"></app-empty>
        </div>
      </div>
    </div>
  </div>
</div> 